*.tfvars
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
*.tfvars.json
*.tfvars.yaml
*.tfvars.yml
*.tfvars.json.*
.terraform.tfstate
.terraform.tfstate.*
.terraform
.terraform.*
.terraform.lock.hcl
.terraform/
*.exe
*.zip
*.zip
*.ps1